@import "~normalize.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #3c4043;
}

select {
  background-color: transparent;
  border-color: #d2d6dc;
  border-width: 1px;
  border-radius: 0.375rem;
  color: inherit;
  padding: 0.25em;
  font-family: inherit;
  cursor: inherit;
  line-height: 1.5;
}

select:disabled {
  cursor: not-allowed;
}

option {
  color: #3c4043;
}

input[type="text"],
input[type="number"] {
  line-height: 1.25rem;
  font-size: 0.875rem;

  background-color: #fff;
  border-color: #65686d;
  border-width: 1px;
  border-radius: 0.375rem;
  padding: 0.25rem 0.75rem;
}

input[type="text"]:focus,
input[type="number"]:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(164, 202, 254, 0.45);
  border-color: #a4cafe;
}

input[type="text"]:disabled,
input[type="number"]:disabled {
  opacity: 0.4;
}

input.error {
  border-color: #ef4444;
}

input.error:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(239, 68, 68, 0.45);
  border-color: #ef4444;
}

button {
  padding: 0.25rem 1rem;
  line-height: 1.25rem;
  font-size: 0.875rem;
  color: #fff;

  background-color: #1a73e8;
  border-width: 1px;
  border-radius: 0.375rem;
  border-color: transparent;

  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

button:disabled {
  opacity: 0.75;
  cursor: not-allowed;
}

button:focus {
  box-shadow: 0 0 0 3px rgba(164, 202, 254, 0.45);
  outline: 0;
}

button:hover:enabled {
  background-color: #0095ff;
}

button:active:enabled {
  background-color: #1d61d5;
}

button.secondary {
  color: #1a73e8;
  background-color: #fff;
  border-color: #1a73e8;
}

button.secondary:hover {
  background-color: #f9fafb;
}
